
{% if site.posts.size > 0 %}

<div class="d-flex align-items-center justify-content-center">
    <table class="table table-dark table-hover w-75 ">
      <thead class="text-center">
        <th>Date</th>
        <th>Titre</th>
      </thead>
      <tbody>

        {% for post in site.posts %}
        <tr class="text-center">

          <td>      <a class="  link-success text-decoration-none" href="{{ post.url | relative_url }}"> {{ post.date | date: '%B %d, %Y' }} </a>         </td>
          <td >     <a class="  link-success text-decoration-none" href="{{ post.url | relative_url }}"> {{ post.title }}</a>       </td>

        </tr>
        {% endfor %}

      </tbody>
    </table>
  

  </div>

{% endif %}
